# Conexion a la BDD
DB_HOST = Base de datos
DB_USER = Usuario
DB_PASSWORD = Contraseña
DB_NAME = Nombre Base De Datos

#SECRET_KEY
SECRET_KEY= CLAVE SEGURA - Para que no modifiquen las cookies

#Correo
MAIL_SERVER = smtp.gmail.com
MAIL_PORT = 587
MAIL_USE_TLS = True
MAIL_USERNAME = Correo
MAIL_PASSWORD = Contraseña -> tienes que activar verificacion de doble etapa.

#Paypal -- Pasarela pago.
PAYPAL_CLIENT_ID = ID Cliente paypal business